In [133]:
import pandas as pd
from jamo import h2j, j2hcj

In [231]:
def load_df(name: str):
    with open(f'../scraped_data/{name}.p', 'rb') as f:
        return pickle.load(f)

In [232]:
df = load_df("objects")

In [237]:
df[df['name'].str.contains("식각")]

            name
27       식각 목판 I
28      식각 목판 II
29     식각 목판 III
30      식각 목판 IV
164    고대의 식각문 I
165   고대의 식각문 II
166  고대의 식각문 III
167   고대의 식각문 IV
168    고대의 식각문 V
169   고대의 식각문 VI
170  고대의 식각문 VII

In [150]:
df['first_letter2'] = df.apply(change, axis=1)

In [137]:
def change(df):
    first_letters = []
    name = df['name'].replace(" ", "")
    
    for n in name:
        first_letters.append(j2hcj(h2j(n)[0]))

    return first_letters

In [157]:
def print_t(t):
    print(f'당신의 추천 타입은 {t} 입니다.')

In [184]:
a = [5,4,3]

In [187]:
a.remove(0)

ValueError: list.remove(x): x not in list

In [186]:
a

[4, 3]

In [183]:
print(f'추천하는 타입 {poketmon[num][0]} 포켓몬 이름 {poketmon[num][1]}')

추천하는 타입물 포켓몬 이름 꼬부기

In [164]:
dic = dict()

In [172]:
dic[1] = 1
dic["name"] = "꼬부기"
dic["skill"] = "물대포"

In [173]:
dic["name"]

'꼬부기'

In [192]:
print(sum(list(range(1,101))))

5050

In [222]:
s = "Python Programming Code"

In [225]:
new_s = re.sub('[A-Z\s]', "", s)

In [227]:
print(len(new_s))

18

In [239]:
weeks = [i for i in [j for j in range(1, 10)]]

다음의 결과가 나올 수 있도록 반복문을 활용 하시오.
1   2   3   4   5   6   7
8   9   10  11  12  13  14
15  16  17  18  19  20  21
22  23  24  25  26  27  28
29  30  31

In [250]:
days = list(range(1,32))

In [255]:
for d in range(1,32):
    print(f'{d:<3}', end='')
    if d % 7 == 0:
        print('')

1  2  3  4  5  6  7
8  9  10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [256]:
score = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

In [257]:
print(f'average score: {sum(score)/len(score)}')

average score: 79.0

In [261]:
for i in range(2, 10):
    for j in range(1, 10):
        print(f'{i} * {j} = {i * j}')
    print("=========")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
=========
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
=========
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
=========
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
=========
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
=========
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
=========
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
=========
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
=========