In [133]:
import pandas as pd
from jamo import h2j, j2hcj

In [231]:
def load_df(name: str):
    with open(f'../scraped_data/{name}.p', 'rb') as f:
        return pickle.load(f)

In [232]:
df = load_df("objects")

In [237]:
df[df['name'].str.contains("식각")]

            name
27       식각 목판 I
28      식각 목판 II
29     식각 목판 III
30      식각 목판 IV
164    고대의 식각문 I
165   고대의 식각문 II
166  고대의 식각문 III
167   고대의 식각문 IV
168    고대의 식각문 V
169   고대의 식각문 VI
170  고대의 식각문 VII

In [150]:
df['first_letter2'] = df.apply(change, axis=1)

In [137]:
def change(df):
    first_letters = []
    name = df['name'].replace(" ", "")
    
    for n in name:
        first_letters.append(j2hcj(h2j(n)[0]))

    return first_letters

In [157]:
def print_t(t):
    print(f'당신의 추천 타입은 {t} 입니다.')

In [184]:
a = [5,4,3]

In [187]:
a.remove(0)

ValueError: list.remove(x): x not in list

In [186]:
a

[4, 3]

In [183]:
print(f'추천하는 타입 {poketmon[num][0]} 포켓몬 이름 {poketmon[num][1]}')

추천하는 타입물 포켓몬 이름 꼬부기

In [164]:
dic = dict()

In [172]:
dic[1] = 1
dic["name"] = "꼬부기"
dic["skill"] = "물대포"

In [173]:
dic["name"]

'꼬부기'

In [192]:
print(sum(list(range(1,101))))

5050

In [222]:
s = "Python Programming Code"

In [225]:
new_s = re.sub('[A-Z\s]', "", s)

In [227]:
print(len(new_s))

18

In [239]:
weeks = [i for i in [j for j in range(1, 10)]]

다음의 결과가 나올 수 있도록 반복문을 활용 하시오.
1   2   3   4   5   6   7
8   9   10  11  12  13  14
15  16  17  18  19  20  21
22  23  24  25  26  27  28
29  30  31

In [250]:
days = list(range(1,32))

In [255]:
for d in range(1,32):
    print(f'{d:<3}', end='')
    if d % 7 == 0:
        print('')

1  2  3  4  5  6  7
8  9  10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [256]:
score = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

In [257]:
print(f'average score: {sum(score)/len(score)}')

average score: 79.0